@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comforter+Brush&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(33,37,41) ;
    color: white;
}