<p>gallery-wedding works!</p>
<div class="row">
    <!--maybe we could put all the images in one array and print the whole array-->
<div class="col-lg-3 col-md-5 col-sm-11" *ngFor="let item of wedding; index as i">
   <img src="{{item.photo}}" alt=""> </div>
<div class="col-lg-3 col-md-5 col-sm-11" *ngFor="let item of wedding; index as i">
   <img src="{{item.photo1}}" alt=""> </div>
   <div class="col-lg-3 col-md-5 col-sm-11" *ngFor="let item of wedding; index as i">
   <img src="{{item.photo2}}" alt=""> 
</div>
</div>