<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center me-5" routerLink="/">
          <img src="assets/images/logo.png" alt="" class="logo d-inline-block align-text-top">
          <div class="logo-text">Jamck Photography</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-between bg-dark">
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/testimonials">Testimonials</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">Contact</a>
              </li>
            
          </ul>
      </div>
  </div>
</nav>