<div class="hero">
    <img class="hero-img" src="assets/hero.jpg">
    
    <div class="hero-text-container d-flex flex-column justify-content-center align-items-center">
        <div class="hero-headline"> 
            <p style="text-align:center;">JAMCK</p>
            <hr> 
            <p>PHOTOGRAPHY</p> </div>
        <div class="hero-text mb-5">keep this love in a photograph</div>
        <div class="button-container d-flex align-items-center">
            <button type="button" class="btn btn-secondary m-2 p-3" routerLink="/gallery">see more</button>
            <button type="button" class="btn btn-secondary m-2 p-3">book now</button>
            <audio id="sounds" controls>
            <source src="assets/photograph.mp3" type="audio/mp3"/></audio>
        </div>
</div>
