@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

audio {
    width: 20px;
    height: 15px;
    
}
audio::-webkit-media-controls-panel {
   background-color:#a8a09b;
}


audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline-display, audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display, audio::-webkit-media-controls-timeline,audio::-webkit-media-controls-toggle-closed-captions-button {
    display: end;
}


.hero {
    position: relative;
    width: 100%;
    height: 80vh;
  }
  .hero .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .hero .hero-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000bd;
    color: white;
    
  }
  .hero .hero-text-container .hero-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
  }
  .hero .hero-text-container .hero-text {
    font-size: 2vw;
    letter-spacing: 0.3vw;
    font-weight: bold;
    color: #a8a09b;
    font-family: 'Montserrat', sans-serif;
  }
  .hero .hero-text-container .btn {
    font-weight: bold;
    background: #a8a09b;
    border: 2px solid #a8a09b;
  }
  .hero .hero-text-container .btn:hover {
    background: transparent;
  }
  
  @media screen and (max-width: 675px) {
    .hero-headline {
      font-size: 6vw !important;
    }
  
    .hero-text {
      font-size: 2.5vw !important;
    }
  }
  @media screen and (max-width: 415px) {
    .hero-headline {
      font-size: 8vw !important;
    }
  
    .hero-text {
      font-size: 3.5vw !important;
    }
  }

  @supports (-moz-appearance:none) {
    audio {
      width: 50px;
    }
  }