img{
    height: 250px;
    object-fit: cover;
}
#text-over{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid;
}

button{
    display: block;
    width : 200px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    font-weight: bold;
    background: #a8a09b;
    border: 2px solid #a8a09b;
    color: white;
}

button:hover {
    background: transparent;
}
.card{
    margin: auto;
    margin-bottom: 15px;
    border: solid 3px;
    box-shadow: rgb(73, 73, 73) 5px 5px 5px 5px;
    filter: grayscale(60%);
}
.row{
    gap: 10px;
}
*{
    border-radius: 25px;
    padding: 0px;
}
.card:hover{
    transform: scale(1.01);
    opacity: 100%;
}
h5{
    width: 200px;
    text-align: center;
    margin-top: 4rem;
    color:white;
    border: solid;
    padding: 5px;
    font-size: 2rem;
    padding: 1rem;
    background-color: black;
    opacity: 50%;
}


h1{
    text-align: center;
    margin: auto;
    font-family: 'Comforter Brush', cursive;
    padding: 25px;
    font-size: 5rem;
    text-shadow: black 2px 2px 4px;
}
a{
    text-decoration: none;
    color: white;
}