<div class="container" id="testimonials-container">
  <h1 class="h3 fw-bold py-3 ">Testimonials</h1>
  <h2 class="h5 fw-bold pb-3">The Opinions of our Clients</h2>

  <!-- Testimonial grid starts here -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let testimonial of testimonialsList">
      <div class="card border-secondary border-opacity-25">
        <div class="card-body">
          <p class="card-text pt-3">
            "{{ testimonial.description }}"
          </p>

          <!-- print this if company is true -->
          <ng-container *ngIf="testimonial.company">
            <!-- print this if position is true -->
            <p
              class="card-text fw-bold fst-italic pt-2 pb-3"
              *ngIf="testimonial.position; else noPosition"
            >
              {{ testimonial.name }} – {{ testimonial.position }},
              <span class="textClient opacity-75">{{
                testimonial.company
              }}</span>
            </p>
            <!-- if position is true section ends here -->

            <!-- print this if position is false -->
            <ng-template #noPosition>
              <p class="card-text fw-bold fst-italic pt-2 pb-3">
                {{ testimonial.name }},
                <span class="textClient opacity-75">{{
                  testimonial.company
                }}</span>
              </p>
            </ng-template>
            <!-- if position is false section ends here -->
          </ng-container>
          <!-- if company is true section ends here -->

          <!-- print this if company is false -->
          <ng-container *ngIf="!testimonial.company">
            <!-- print this if position is true -->
            <p
              class="card-text fw-bold fst-italic pt-2 pb-3"
              *ngIf="testimonial.position; else noPosition"
            >
              {{ testimonial.name }} – {{ testimonial.position }}
            </p>
            <!-- if position is true section ends here -->

            <!-- print this if position is false -->
            <ng-template #noPosition>
              <p class="card-text fw-bold fst-italic pt-2 pb-3">
                {{ testimonial.name }}
              </p>
            </ng-template>
            <!-- if position is false section ends here -->
          </ng-container>
          <!-- if company is false section ends here -->
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonial grid ends here -->

  <hr class="my-4" />

  <!-- Company clients section starts here -->
  <h2 class="h5 fw-bold text-center pb-3">Clients include:</h2>
  <div class="bg-secondary bg-opacity-25 pt-4 pb-4 pb-md-0">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3 px-2 px-lg-4">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm">
          <img
            src="https://photos.demandstudios.com/218/120/fotolia_8801978_XS.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm">
          <img
            src="https://m3h9n2m2.stackpathcdn.com/wp-content/uploads/flightglobal.png"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm">
          <img
            src="https://m3h9n2m2.stackpathcdn.com/wp-content/uploads/Screen-Shot-2020-10-17-at-18.45.01.png"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm">
          <img
            src="https://photos.demandstudios.com/218/120/fotolia_8801978_XS.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>

      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm h-75">
          <img
            src="https://m3h9n2m2.stackpathcdn.com/wp-content/uploads/2022/06/shopping.png"
            class="card-img-top h-100"
            alt="..."
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm h-75">
          <img
            src="https://m3h9n2m2.stackpathcdn.com/wp-content/uploads/2022/06/tr_vrt_r_rgb_pos.png "
            class="card-img-top h-100"
            alt="..."
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm">
          <img
            src="https://photos.demandstudios.com/218/120/fotolia_8801978_XS.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="card shadow-sm">
          <img
            src="https://photos.demandstudios.com/218/120/fotolia_8801978_XS.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Company clients section ends here -->

  <hr class="my-4" />

  <!-- Testimonial form starts here -->
  <h2 class="h5 fw-bold text-center pb-3">Send us your testimonial</h2>
  <form class="row" [formGroup]="testimonialForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-11 col-md-5 col-lg-3">
      <label for="name">Your Name *:</label> <br>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="col-sm-11 col-md-5 col-lg-3">
      <label for="email">Email Address *:</label><br>
      <input id="email" type="email" formControlName="email" />
    </div>
    <div class="col-sm-11 col-md-5 col-lg-3">
      <label for="position">Position:</label><br>
      <input id="position" type="text" formControlName="position" />
    </div>
    <div class="col-sm-11 col-md-5 col-lg-3">
      <label for="company">Company:</label><br>
      <input id="company" type="text" formControlName="company" />
    </div>
    <div class="col-lg-12 col-md-10 ">
      <label for="description">Testimonial *:</label><br>
      <textarea rows="15" cols="40" id="description" type="text" formControlName="description"></textarea>
      </div>
      <div class="col-lg-12 col-md-10">
        <button class="button" type="submit" [disabled]="!testimonialForm.valid">
      Submit
    </button></div>      
    <div>(* fields are mandatory)</div>

  </form>
  <!-- Testimonial form ends here -->
</div>
