#testimonials-container{
    max-width: 1200px;
}
input, textarea, button{
    border-radius: 2rem;
    border: solid white 3px;
    background-color:rgb(33,37,41) ;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}
form {
    text-align: center;
    margin: auto;
}
button:hover{
    scale: 1.1;
    box-shadow: rgb(73, 73, 73) 3px 3px 3px 3px;

}