/* Section 1 */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.part-1 {
  padding: 10% 0 3% 0;
}

.div-image {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  position: relative;
}

.text-over-image {
  position: absolute;
  font-size: 45px !important;
  font-weight: bold;
  top: -2%;
  left: -9%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.335);
}

.text-over-image-2 {
  position: absolute;
  font-size: 45px !important;
  font-weight: bold;
  right: -15%;
  bottom: -27%;
  line-height: 1;
  color: rgba(255, 255, 255, 0.335);
}

/* Section 2 */
h1 {
    padding-top:0;
    margin-top:0;
    text-align: center;
    text-transform:uppercase;
    color: white;
    font-family: 'Comforter Brush', cursive;
    font-size: 50px;
    text-transform: lowercase;
}
hr {
    color: #a8a09b;
}
.part-2 {
  background-color: antiquewhite;
  padding: 7% 0 2% 0;
}

.row {
  margin-bottom: 7%;
}

.col-help {
  margin: 0 auto;
  line-height: 3;
}

h3 {
  font-weight: bold;
  margin-bottom: 10%;
}

/* Section 3 */

.titel3 {
    font-size: 80px !important;
}

.part-3-text-left {
  font-size: 5vw;
  line-height: 1;
  margin-top: 7%;
  margin-left: 9%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:white;
  font-family: 'Comforter Brush', cursive;
  font-size: 150px;
}

.part-3-text-right {
  font-size: 1.3vw;
  line-height: 2;
  margin-right: 10%;
}

.magicImg {
    margin-top: -20%;
}

.stars {
    position: absolute;
    top: 4%;
    right: 3%;
}

/* Section 4 */

.part-4 {
background-color: rgb(212, 166, 94);
position: relative;
}

.part-4-background {
    height: 1300px;
}

.part-4-image {
    left: 20%;
    position: absolute;
}

.div-left-over-image {
    color: white;
    padding-top: 15%;
    height: 100%;
    border-left: 2px solid white;
    border-right: 1px solid white;
    width: 25%;
    position: absolute;
    top: 0;
    right: 26%;
    font-size: 1.2vw;
    line-height: 2;
}

.div-right-over-image {
    color: white;
    padding-top: 15%;
    height: 100%;
    border-left: 1px solid white;
    border-right: 2px solid white;
    width: 25%;
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 1.2vw;
    line-height: 2;
}

.number-with-circle {
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 45%;
    padding-top: 0.2vw;
    border: 0.3vw solid rgb(255, 255, 255);
    font-size: 2vw;
}

.btn {
    margin-top: 10%;
    margin-left: 35%;
    font-size: 1vw;
}

.btn:hover {
    background: none;
}

.stars-2 {
    position: absolute;
    top: 70%;
    left: 15%;
}


/* Media Queries */

@media screen and (max-width: 576px) {
    .part-4-background {
        height: 300px;
    }
    
    .div-left-over-image {
        padding-top: 20%;
    }

    .div-right-over-image {
        padding-top: 20%;
    }

    .btn-left {
        margin-top: 10%;
        margin-left: 17%;
    }

    .btn-right {
        margin-top: 10%;
        margin-left: 20%;
    }
}

@media screen and (min-width: 576px) {
    .part-4-background {
        height: 500px;
    }

    .div-left-over-image {
        padding-top: 23%;
    }

    .div-right-over-image {
        padding-top: 23%;
    }

    .btn-left {
        margin-top: 10%;
        margin-left: 23%;
    }

    .btn-right {
        margin-top: 10%;
        margin-left: 25%;
    }
}

@media screen and (min-width: 768px) {
    .part-4-background {
        height: 700px;
    }

    .btn-left {
        margin-top: 10%;
        margin-left: 28%;
    }

    .btn-right {
        margin-top: 10%;
        margin-left: 30%;
    }
}

@media screen and (min-width: 992px) {
    .part-4-background {
        height: 800px;
    }

    .btn-left {
        margin-top: 10%;
        margin-left: 30%;
    }

    .btn-right {
        margin-top: 10%;
        margin-left: 31%;
    }
}

@media screen and (min-width: 1200px) {
    .part-4-background {
        height: 1000px;
    }
 
    .div-left-over-image {
        padding-top: 15%;
    }

    .div-right-over-image {
        padding-top: 15%;
    }

    .btn-left {
        margin-top: 10%;
        margin-left: 31%;
    }

    .btn-right {
        margin-top: 10%;
        margin-left: 33%;
    }
}

@media screen and (min-width: 1400px) {
    .part-4-background {
        height: 1300px;
    }

    .div-left-over-image {
        padding-top: 10%;
    }

    .div-right-over-image {
        padding-top: 10%;
    }

    .btn-left {
        margin-top: 10%;
        margin-left: 33.5%;
    }

    .btn-right {
        margin-top: 10%;
        margin-left: 35%;
    }
}