<br />
<br />
<div class="text-center">
  <div class="banner">
    <hr />
    <br />
    <h1>Who are these photographer heroes?</h1>
    <br />
    <hr />
  </div>
  <div class="row gx-5 row-cols-1">
    <div class="col">
      <div class="p-3 div-image">
        <p class="text-over-image" style="text-align: left; font-size: 4vw">
          MEET YOUR <br />
          TEAM
        </p>
        <img src="assets/images/team.jpg" alt="" width="100%" height="120%" />
        <p class="text-over-image-2" style="text-align: right; font-size: 4vw">
          OF PHOTOGRAPH <br />
          EXPERTS
        </p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="banner">
  <hr />
  <br />
  <h1>
    we're here to help as you embark on the photography adventure of your life
  </h1>
  <br />
  <hr />
</div>
<br /><br /><br /><br />
<div
  class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
>
  <div class="col col-help">
    <div class="p-3">
      <img src="assets/images/setup.jpg" alt="" width="250vh" height="350vh" />
      <br /><br />
      <h3>Location</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
        dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Obcaecati repellendus voluptatum expedita. Similique quisquam error
        incidunt quis iste vero nesciunt?
      </p>
    </div>
  </div>
  <div class="col col-help">
    <div class="p-3">
      <img src="assets/images/makeup.jpg" alt="" width="250vh" height="350vh" />
      <br /><br />
      <h3>Preparation</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
        dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Obcaecati repellendus voluptatum expedita. Similique quisquam error
        incidunt quis iste vero nesciunt?
      </p>
    </div>
  </div>
  <div class="col col-help">
    <div class="p-3">
      <img
        src="assets/images/editing.jpg"
        alt=""
        width="250vh"
        height="350vh"
      />
      <br /><br />
      <h3>Endproduct</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
        dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Obcaecati repellendus voluptatum expedita. Similique quisquam error
        incidunt quis iste vero nesciunt?
      </p>
    </div>
  </div>
</div>
<div class="banner">
  <hr />
  <br />
  <h1>We believe in the magic...</h1>
  <br />
  <hr />
</div>
<br /><br /><br /><br />
<div
  class="row gx-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2"
>
  <div class="col col-help">
    <div class="p-3 part-3-text-left">
      <p class="text-center">
        <img
          src="assets/images/magic.jpg"
          alt=""
          width="400vh"
          height="700vh"
          class="magicImg"
        />
      </p>
    </div>
  </div>
  <div class="col col-help">
    <div class="p-3 part-3-text-right">
      <h4>... OF PHOTGRAPHY AND COLLABORATION</h4>
      <hr />
      <br />
      <p class="text-center">
        We call ourselves a collective because we truly <br />
        believe the best photos are a group effort, and <br />
        that group includes our customers! <br /><br />
      </p>
      <p class="text-center">
        From location and light, to timing and style, our <br />
        team of experts works together with our customers to <br />
        give them the creative control to envision their ideal <br />
        pictures and the guidance and direction to bring <br />
        that vision to life. <br /><br />
      </p>
      <p
        class="text-center"
        style="font-family: 'Comforter Brush', cursive; font-size: 3vw"
      >
        xo, maine photography collective
      </p>
    </div>
  </div>
</div>
<section class="part-4">
  <div class="banner">
    <br />
    <br />
    <h1>Feel free to...</h1>
    <img
      src="assets/images/package.jpg"
      alt=""
      width="100%"
      class="part-4-background"
    />
  </div>
  <div class="div-left-over-image">
    <h3 class="number-with-circle text-center">1</h3>
    <h3 class="text-center" style="font-size: 2vw">
      VIEW OUR <br />
      PACKAGES
    </h3>
    <p class="text-center">
      Start by checking out our <br />
      offerings. With our packages, <br />
      you are not only investing in <br />
      images of your day, but the <br />
      overall experience that is your <br />
      dream event.
    </p>
    <button class="btn btn-success btn-lg btn-left" style="font-weight: bold">
      View Packages
    </button>
  </div>
  <div class="div-right-over-image">
    <h3 class="number-with-circle text-center">2</h3>
    <h3 class="text-center" style="font-size: 2vw">
      CONTACT US TO <br />
      START PLANNING
    </h3>
    <p class="text-center">
      Start by checking out our <br />
      offerings. With our packages, <br />
      you are not only investing in <br />
      images of your day, but the <br />
      overall experience that is your <br />
      dream event.
    </p>
    <button class="btn btn-success btn-lg btn-right" style="font-weight: bold">
      Let's Connect
    </button>
  </div>
</section>
