<div class="position part-1">
  <div class="container-test px-4 text-center">
    <div class="row gx-5 row-cols-1">
      <div class="col">
        <div class="p-3 test-div-width">
          <p class="text-over-image" style="text-align: left; font-size: 4vw">
            MEET YOUR <br />
            TEAM
          </p>
          <img
            src="assets/images/example-image.jpg"
            alt=""
            width="100%"
            height="100%"
          />
          <p class="text-over-image-3" style="text-align: left; font-size: 3vw">
            we're here to help as <br />
            you embark on the <br />
            photograph adventure <br />
            of your dreams!
          </p>
          <p
            class="text-over-image-2"
            style="text-align: right; font-size: 4vw"
          >
            OF PHOTOGRAPH <br />
            EXPERTS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part-2">
  <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <div class="col col-help">
      <div class="p-3">
        <img
          src="assets/images/example-image.jpg"
          alt=""
          width="100%"
          height="500vh"
        />
        <br /><br />
        <h3>Test</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Obcaecati repellendus voluptatum expedita. Similique quisquam error
          incidunt quis iste vero nesciunt?
        </p>
        <p class="text-center" style="font-family: Noto;">Personal Link</p>
      </div>
    </div>
    <div class="col col-help">
      <div class="p-3">
        <img
          src="assets/images/example-image.jpg"
          alt=""
          width="100%"
          height="500vh"
        />
        <br /><br />
        <h3>Test</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Obcaecati repellendus voluptatum expedita. Similique quisquam error
          incidunt quis iste vero nesciunt?
        </p>
        <p class="text-center" style="font-family: Noto;">Personal Link</p>
      </div>
    </div>
    <div class="col col-help">
      <div class="p-3">
        <img
          src="assets/images/example-image.jpg"
          alt=""
          width="100%"
          height="500vh"
        />
        <br /><br />
        <h3>Test</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Obcaecati repellendus voluptatum expedita. Similique quisquam error
          incidunt quis iste vero nesciunt?
        </p>
        <p class="text-center" style="font-family: Noto;">Personal Link</p>
      </div>
    </div>
  </div>
  <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <div class="col col-help">
      <div class="p-3">
        <img
          src="assets/images/example-image.jpg"
          alt=""
          width="100%"
          height="500vh"
        />
        <br /><br />
        <h3>Test</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Obcaecati repellendus voluptatum expedita. Similique quisquam error
          incidunt quis iste vero nesciunt?
        </p>
        <p class="text-center" style="font-family: Noto;">Personal Link</p>
      </div>
    </div>
    <div class="col col-help">
      <div class="p-3">
        <img
          src="assets/images/example-image.jpg"
          alt=""
          width="100%"
          height="500vh"
        />
        <br /><br />
        <h3>Test</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid,
          dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Obcaecati repellendus voluptatum expedita. Similique quisquam error
          incidunt quis iste vero nesciunt?
        </p>
        <p class="text-center" style="font-family: Noto;">Personal Link</p>
      </div>
    </div>
  </div>
</div>

<div class="part-3">
    <div class="testschneider">
        <p>Test</p>
    </div>
    <div class="test-right">
        <p>Test right</p>
    </div>
</div>
<div class="part-4">
  <p>Test</p>
</div>
