<footer >
    <div class="text-white text-center height">
      <div class="toggle bg-dark  ">
        <div class="social-media d-flex justify-content-center align-items-center mb-3">
            <img class="social-icon" src="assets/images/facebook.png">
            <img class="social-icon" src="assets/images/google.png">
            <img class="social-icon" src="assets/images/twitter.png">
        </div>
          <p class="py-2">&copy; 2022 Copyright JAMCK Group</p>
      </div>
    </div>
  </footer>